In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('C:\\Users\\zzuge\\df.csv',encoding='cp949')

In [15]:
link=pd.read_csv('C:\\Users\\zzuge\\link_dataframe.csv')

In [6]:
df

,geometry,NODE_ID,NODE_TYPE,TURN_P,REMARK
0,"Shapefile.Point(306862.5290999946, 364128.7581...",3680002100,101,0,NaN
1,"Shapefile.Point(232175.56361976278, 428286.284...",1865949201,101,0,NaN
2,"Shapefile.Point(262099.2841216855, 260200.9640...",3280218301,101,0,교차로명없음
3,"Shapefile.Point(261776.79685912761, 260206.480...",3280218201,101,1,교차로명없음
4,"Shapefile.Point(261777.6434585629, 259856.5594...",3280218101,101,1,NaN
...,...,...,...,...,...
200897,"Shapefile.Point(276681.37419968727, 311730.005...",3950099001,101,0,NaN
200898,"Shapefile.Point(277172.98334151093, 313481.357...",3950099401,104,0,NaN
200899,"Shapefile.Point(277185.10680105817, 313574.621...",3950099501,101,0,NaN
200900,"Shapefile.Point(277198.45956309163, 313675.035...",3950099601,101,0,NaN
200901,"Shapefile.Point(276486.0488271522, 313162.5098...",3950099301,101,0,NaN

In [38]:
df['geometry'][1][16:52]

'232175.56361976278, 428286.284158903'

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200902 entries, 0 to 200901
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   geometry   200902 non-null  object
 1   NODE_ID    200902 non-null  int64
 2   NODE_TYPE  200902 non-null  int64
 3   TURN_P     200902 non-null  int64
 4   REMARK     3077 non-null    object
dtypes: int64(3), object(2)
memory usage: 7.7+ MB

In [16]:
link

,Unnamed: 0,LINK_ID,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_TYPE,ROAD_NO,ROAD_NAME,ROAD_USE,MULTI_LINK,CONNECT,MAX_SPD,REST_VEH,REST_W,REST_H,LENGTH,REMARK
0,0,1860689001,1865963801,1865963701,2,107,0,-,국제과학로,0,0,0,30,0,0,0,414.856758,NaN
1,1,1860688901,1865963701,1865963801,2,107,0,-,국제과학로,0,0,0,30,0,0,0,414.211972,NaN
2,2,3280619601,3280218301,3280218501,2,107,3,-,-,0,0,0,30,0,0,0,102.163661,도로명없음
3,3,3280619701,3280218501,3280218301,2,107,3,-,-,0,0,0,30,0,0,0,102.036940,도로명없음
4,4,3280618801,3280218201,3280218101,2,107,0,-,-,0,0,0,30,0,0,0,347.266337,도로명없음
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540320,540320,3950263601,3950099601,3950099501,1,103,0,59,NaN,0,0,0,60,0,0,0,100.984730,NaN
540321,540321,3950263901,3950007601,3950099601,2,103,0,59,친환경로,0,0,0,60,0,0,0,253.587305,NaN
540322,540322,3950263801,3950099601,3950007601,1,103,0,59,친환경로,0,0,0,60,0,0,0,255.217243,NaN
540323,540323,3950263201,3950099601,3950099301,1,107,0,NaN,친환경로,0,0,0,60,0,0,0,901.044178,NaN
540324,540324,3950263301,3950099301,3950099601,1,107,0,NaN,친환경로,0,0,0,60,0,0,0,894.603069,NaN

In [4]:
import networkx as nx

In [7]:
G = nx.Graph()

In [11]:
import ast

In [5]:
topgun_g = nx.read_gexf('C:\\Users\\zzuge\\df.csv')

ParseError: syntax error: line 1, column 0 (<string>)