In [9]:
import pandas as pd
import numpy as np

In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\zzuge\\zzugest'

In [11]:
df=pd.read_csv('C:\\Users\\zzuge\\df.csv',encoding='cp949')

In [12]:
df

,geometry,NODE_ID,NODE_TYPE,TURN_P,REMARK
0,"Shapefile.Point(306862.5290999946, 364128.7581...",3680002100,101,0,NaN
1,"Shapefile.Point(232175.56361976278, 428286.284...",1865949201,101,0,NaN
2,"Shapefile.Point(262099.2841216855, 260200.9640...",3280218301,101,0,교차로명없음
3,"Shapefile.Point(261776.79685912761, 260206.480...",3280218201,101,1,교차로명없음
4,"Shapefile.Point(261777.6434585629, 259856.5594...",3280218101,101,1,NaN
...,...,...,...,...,...
200897,"Shapefile.Point(276681.37419968727, 311730.005...",3950099001,101,0,NaN
200898,"Shapefile.Point(277172.98334151093, 313481.357...",3950099401,104,0,NaN
200899,"Shapefile.Point(277185.10680105817, 313574.621...",3950099501,101,0,NaN
200900,"Shapefile.Point(277198.45956309163, 313675.035...",3950099601,101,0,NaN
200901,"Shapefile.Point(276486.0488271522, 313162.5098...",3950099301,101,0,NaN